body {
  background-color:#804a9a;
}


.nav-item {
    margin-right: 20px;
}

#Nearme {
    color:chartreuse;
    background-color: blueviolet;   
    font-family: cursive;
    font-size: 50px;
    text-align: left;
}

#1 {
    color: whitesmoke;
}